.topbar{
    background-color: blue;
    padding: 10px 0px;
}
.topbar ul{
  padding-left: 0;
}
.topbar ul li{
    display: inline;
    list-style-type: none;
    color:white;
    padding-right: 10px;
}
.topbar ul{
    margin-bottom: 0px;
}
.topbar ul li a{
    text-decoration: none !important;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.5;
}.topbar a{
    text-decoration: none;
}
.topbar button{
    background-color: white;
    border: none;
    text-transform: uppercase;
    float: right;
}
.header nav ul li a{
    color: black !important;
}
.header nav ul li {
   text-transform: uppercase;
}
.header nav{
    background-color: #fff !important;
}