.bx_shadow{
    box-shadow: 1px 0px 1px 1px grey;
    padding: 30px;

}
.bread{
    background-color: blue;
    color: white;
    padding: 20px 0px;
}
ul{
    list-style: none;
    
}
.sidebar ul li{
    margin-bottom: 10px;
}
.table th{
    color: black;
}